@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h2>Login</h2>
</div>

@section scripts{
   
    }

@if (TempData["pass_changed"] != null)
{

    <span class="btn active" style="text-shadow:2px 2px 2px #aaa1a1; font-family:'Comic Sans MS'; font-size:20px">@TempData["pass_changed"]</span><br /><br />

}
@if (TempData["msg"] != null)
{
<span class="btn active" style="text-shadow:2px 2px 2px #aaa1a1; font-family:'Comic Sans MS'; font-size:20px">@TempData["msg"]</span><br /><br />
}

@section modalDesign
    {
    <style>

        .overlay
        {
            position: fixed;
            display: none;
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: 101;
            background-color: #000000;
            opacity: .15;
            filter: alpha(opacity=15);
            -moz-opacity: .15;
        }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 102; /* Sit on top */
    left: 0;
    top: 0;
    
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */

</style>
    }
    <form action="/User/Login" method="post">

        <table cellpadding="4" cellspacing="4">
            <tr>
                <td> Login:</td>
                <td><input type="text" name="login" value="@ViewBag.Login" required /></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password" required /></td>
            </tr>
            <tr>
                <td></td>
                <td><span style="color:red;">@ViewBag.MSG</span></td>
            </tr>
        </table>
        <div style="margin-left:130px">
            <input class="btn btn-default" type="submit" value="Sign in" />
            <input class="btn btn-default" type="button" value="Sign up" onclick="document.getElementById('id01').style.display='block'" style="width:auto;" />
        </div>
    </form>

    <label>Forget Password?</label>
    <form action="~/User/SendEmail" method="post">
        <table cellpadding="2" cellspacing="2">
            <tr>
                <td>Email :</td>
                <td> <input type="email" id="e_email" name="e_eamil" required /></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit" class="btn btn-default">Resend Password</button></td>
            </tr>
        </table>
    </form>


    <div id="id01" class="modal">
        
        <form class="modal-content" enctype="multipart/form-data" method="post" action="~/User/Save" style="width:500px;padding-bottom:10px; background: linear-gradient(to right,white, lightgray);">
            <span onclick="document.getElementById('id01').style.display='none'" style="color:black;" class="close" title="Close Modal">&times;</span>
            <div class="jumbotron">
                <h1 style="font-size:30px">Sign Up</h1>
            </div>

            <table align="center">
                <tr>
                    <td>Name:</td>
                    <td><input type="text" id="Name" name="Name" required></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" id="Password" name="Password" required></td>
                </tr>

                <tr>
                    <td>Login:</td>
                    <td><input type="text" id="Login" name="Login" required /></td>
                </tr>

                <tr>
                    <td>Email:</td>
                    <td><input type="email" id="Email" name="Email" required /></td>
                </tr>

                <tr><td>Image:</td><td><input type="file" id="Image" name="Image" required /></td></tr>
                <tr><td></td><td><input type="checkbox" checked="checked" id="remember" name="remember" style="margin-bottom:10px">Remember me </td></tr>
                <tr><td></td><td>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a></td></tr>
            </table>
            <hr />
            <div style="margin-right:50px; text-align:right">
                <button type="button" class="btn btn-default" onclick="document.getElementById('id01').style.display='none'">Cancel</button>
                <button type="submit" class="btn btn-default">Sign Up</button>
            </div>
        </form>
    </div>
   



